/* .container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(6, 100px);
} */

/* colors: */
/* background-color: #84cc16;

background-color: #eab308;
background-color: #dc2626; */
/* containers: */

.top-head {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 40px;
}

/* Left-items */

.search-container {
  display: flex;
  gap: 15px;
}
.search {
  width: 80%;
  height: 40px;
  border-radius: 25px;

  font-size: 15px;
  align-self: center;
  border: 1px solid;
  background-color: #e2e8f0;
}

.icon,
.icon-search {
  width: 35px;
  align-self: center;
}

/* Right-items */

.profile {
  width: 45px;
  height: 50px;
  border-radius: 50%;
}

.right-items {
  display: flex;
  gap: 15px;
}

.user-name {
  align-self: flex-end;
}
